<div class="container" *ngIf="documents">
  <h1 class="display-6">Existing documents</h1>

  <table class="table table-sm">
    <thead>
      <th>Document Title</th>
      <th>Created</th>
      <th>Last update</th>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents">
        <th>
          <a [routerLink]="['/document', document.id]">{{ document.title || 'Untitled document' }}</a>
        </th>
        <td>{{ document.created_at | date }}</td>
        <td>{{ document.updated_at | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
