<div class="container" *ngIf="documents">
  <h1 class="display-6">Existing documents</h1>

  <!-- List of document -->
  <table class="table table-sm" *ngIf="documents.length > 0">
    <thead>
      <th>Document Title</th>
      <th>Created</th>
      <th>Last update</th>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents">
        <th>
          <a [routerLink]="['/document', document.id]">{{ document.title || 'Untitled document' }}</a>
        </th>
        <td>{{ document.created_at | date }}</td>
        <td>{{ document.updated_at | date }}</td>
      </tr>
    </tbody>
  </table>

  <!-- No document available -->
  <div class="bs-callout bs-callout-info" *ngIf="documents.length === 0">
    <h4>No document exists</h4>
    <p><a routerLink="/document">Create new</a> anytime.</p>
  </div>
</div>
