<nav class="navbar navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">JSON Document Storage Management</a>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="/document" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Create</a>
      </li>
    </ul>    

    <button class="btn btn-outline-secondary" type="button" routerLink="/">Browse</button>
  </div>
</nav>

<router-outlet></router-outlet>
