<div class="container-fluid" [formGroup]="form">
  <div class="row">
    <div class="col-lg-3 order-last">
      <!-- Save button -->
      <div class="text-end mb-4">
        <button type="button"
                class="btn btn-lg"
                [class.btn-primary]="form.dirty"
                [class.btn-success]="!form.dirty"
                (click)="save()">
          <ng-container *ngIf="!form.dirty">Saved</ng-container>
          <ng-container *ngIf="form.dirty">Save</ng-container> 
        </button>
      </div>

      <!-- Warning: Notes are exists -->
      <div class="bs-callout bs-callout-warning my-4 py-2" *ngIf="uiTabIndex !== 2 && (showNotesWarning$ | async)">
        Before document edit please
        <button class="btn btn-sm btn-outline-secondary" (click)="seeNotes()">see notes</button>
        first!
      </div>

      <!-- Document Title -->
      <div class="mb-4">
        <label class="form-label form-label-lg text-end">Document Title:</label>
        <input
          type="text"
          id="title"
          class="form-control form-control-lg"
          formControlName="title"
          aria-describedby="titleHelp"
          placeholder="Untitled document"
          title="Just for better understanding, what you are looking for."
        />
      </div>

      <!-- Password Change dialog -->
      <div class="my-2" [class.card]="form.get('changePassword')!.valueChanges | async">
        <div [class.card-header]="form.get('changePassword')!.valueChanges | async">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="changePassword"
              formControlName="changePassword"     
            />
            <label class="form-check-label" for="changePassword">
              <ng-container *ngIf="form.get('id')!.valueChanges | async">Change </ng-container>
              Write-protection password
            </label>
          </div>
        </div>

        <div class="card-body" *ngIf="form.get('changePassword')!.valueChanges | async">
          <div class="mb-2">
            <label for="write_password" class="form-label"> New password: </label>
            <input
              type="password"
              class="form-control"
              id="write_password"
              formControlName="newPassword1"
              aria-describedby="writePasswordHelp"
              autocomplete="new-password"
            />
          </div>
          <div>
            <label for="write_password2" class="form-label"> Confirm new password: </label>
            <input
              type="password"
              class="form-control"
              id="write_password2"
              formControlName="newPassword2"
              aria-describedby="writePasswordHelp"
              autocomplete="new-password"
            />
            <div id="writePasswordHelp" class="form-text" *ngIf="!(form.get('id')!.valueChanges | async)">
              Enter any string during document creation and store it in private. It is required to grant any document update.
              <br />
              If kept empty, then document can be updated without by anybody without any authorization.
            </div>
            <div id="writePasswordHelp" class="form-text" *ngIf="form.get('id')!.valueChanges | async">
              If kept empty, then password will be removed and not used.
            </div>
          </div>
        </div>
      </div>

      <!-- Schema info + generator -->
      <div class="card my-4" *ngIf="uiTabIndex === 1">
        <h6 class="card-header">Schema</h6>
        <div class="card-body">
          <div class="small my-0">
            Schema is optional. If schema entered, then document contents is validated agains it during editation and on save. If
            no schema entered, then document contents can have any non-limited structure.
          </div>

          <div class="mt-2 text-end">
            <button type="button" (click)="generateSchema()" class="btn btn-sm btn-outline-primary">
              Generate schema<br />Document Contents
            </button>
          </div>
        </div>
      </div>

      <!-- Notes info -->
      <div class="card my-4" *ngIf="uiTabIndex === 2">
        <h6 class="card-header">Notes</h6>
        <div class="card-body">
          <div class="small my-0">
            Notes is free text for internal purpose only. Visible is in this managements system only. Not published via API.
          </div>
        </div>
      </div>

      <!-- Info about API endpoint -->
      <div class="bs-callout bs-callout-info text-center my-4 py-2" *ngIf="(form.get('id')!.valueChanges | async) as documentId">
        <h6 class="mb-0">JSON document is available on public API:</h6>
        <p class="text-center">
          <code>GET {{ getApiUrl(documentId) }}</code>
        </p>

        <h6 class="mb-0">Document ID</h6>
        <p class="text-center mb-0">
          <code>{{ documentId }}</code>
        </p>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="me-lg-1">
        <!-- TODO migrate into ng-bootstrap (but it is not ready for Angular 14 yet) -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [class.active]="uiTabIndex === 0" (click)="changeEditorTab('contents')">Document Contents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="uiTabIndex === 1" (click)="changeEditorTab('schema')">JSON Validation Schema</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="uiTabIndex === 2" (click)="changeEditorTab('notes')">Notes</a>
          </li>
        </ul>

        <!-- Monaco Editor - for all 3 documents (Contents, Schema, Notes)-->
        <div #monacoEditorDiv class="code-editor"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <h1>Working ...</h1>
</ng-template>
