<ng-container *ngIf="!isLoading; else loadingTemplate">
  <!-- Save button -->
  <div class="my-2 float-end">
    <button type="button" class="mt-3 btn btn-lg btn-primary" (click)="save()">Save</button>
  </div>

  <!-- Header -->
  <h1 class="display-6" *ngIf="!document.id">New document</h1>
  <h1 class="display-6" *ngIf="document.id">
    Document editation
  </h1>
</ng-container>

<div class="alert alert-danger my-4" *ngIf="error">
  <h4>Error - Something went wrong</h4>
  {{ error }}
</div>

<ng-container *ngIf="!isLoading">

  <div class="mb-3" *ngIf="document.id">
    <label for="title" class="form-label">Document ID</label>
    <input type="text" id="title" class="form-control" [value]="document.id" aria-describedby="idHelp" disabled />
    <div id="idHelp" class="form-text">Keep ID and the Write Access Token stored for future find and edit the document.</div>
  </div>

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      id="title"
      class="form-control"
      [(ngModel)]="document.title"
      [ngModelOptions]="{ standalone: true }"
      aria-describedby="titleHelp"
    />
    <div id="titleHelp" class="form-text">Just for better understanding, what you are looking for.</div>
  </div>

  <!-- TODO migrate into ng-bootstrap (but it is not ready for Angular 14 yet) -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="uiTabIndex === 0" (click)="applySchemaFromEditor();uiTabIndex = 0;">Document Contents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="uiTabIndex === 1" (click)="uiTabIndex = 1">JSON Validation Shema</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="uiTabIndex === 2" (click)="uiTabIndex = 2">Notes</a>
    </li>
  </ul>

  <!-- Contents Editor-->
  <div class="mb-3" *ngIf="uiTabIndex === 0">
    <ngx-monaco-editor
      class="code-editor"
      [options]="editorOptions"
      [model]="contentsModel"
      [(ngModel)]="contentsModel.value"
      [ngModelOptions]="{ standalone: true }"
      (onInit)="onMonacoInit($event)"
    ></ngx-monaco-editor>
  </div>

  <!-- Schema editor -->
  <div class="mb-3" *ngIf="uiTabIndex === 1">
    <ngx-monaco-editor
      class="code-editor"
      [options]="editorOptions"
      [model]="schemaModel"
      [(ngModel)]="schemaModel.value"
      [ngModelOptions]="{ standalone: true }"
    ></ngx-monaco-editor>

    <div class="form-text my-0">
      Schema is optional. If schema entered, then document contents is validated agains it during editation and on save.
      If no schema entered, then document contents can have any non-limited structure.
    </div>

    <div class="my-1">
      <button type="button" (click)="generateSchema()" class="btn btn-sm btn-outline-secondary">
        Generate schema from Document Contents
      </button>
    </div>
  </div>

  <!-- Notes -->
  <div class="mb-3" *ngIf="uiTabIndex === 2">
    <textarea
      class="form-control" rows="16"
      [(ngModel)]="document.notes"
      [ngModelOptions]="{ standalone: true }"
    ></textarea>
  </div>


  <div class="my-3">
    <label for="write_access_token" class="form-label">Write Access Token</label>
    <input
      type="text"
      class="form-control"
      id="write_access_token"
      [(ngModel)]="document.write_access_token"
      [ngModelOptions]="{ standalone: true }"
      aria-describedby="writeAccessTokenHelp"
      minlength="12"
    />
    <div id="writeAccessTokenHelp" class="form-text">
      Enter any string during document creation and store it in private. It is required to grand any document
      update.
      <br />
      If kept empty, then document can be updated without by anybody without any authorization.
    </div>
  </div>

  <!-- Save button (bottom) -->
  <div class="mb-3 text-end">
    <button type="button" class="btn btn-lg btn-primary" (click)="save()">Save</button>
  </div>

  <!-- Info about API endpoint -->
  <div class="alert alert-info my-5" *ngIf="document.id">
    <div class="panel-body text-center">
      <h6>JSON document is available on API URL:</h6>
      <code>{{ getApiUrl(document.id) }}</code>
    </div>
  </div>

</ng-container>

<ng-template #loadingTemplate>
  <h1>Working ...</h1>
</ng-template>
